---
# Index
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>G2K Memory Games Colours</title>
    <link rel="stylesheet" href="{{ "/assets/hover-style.css" | relative_url }}">
  </head>
<body>
  <div class="container">
    <h1 class="name">
      {% if site.name %}
        {{ site.name }}
      {% endif %}
    </h1>
    <h3 class="description">
      {% if site.description %}
        {{ site.description }}
      {% endif %}
      Colours
    </h3>

    <p><br></p>
    <button class="btn btn1"><a class="anchor2" href="{{ site.mg-colours-1 }}">Colours Part 1</button>
    <p><br></p>
    <button class="btn btn2"><a class="anchor2" href="{{ site.mg-colours-2 }}">Colours Part 2</button>
  </div>
</body>
</html>


