---
# Index
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>G2K Memory Games Jobs</title>
    <link rel="stylesheet" href="{{ "/assets/hover-style.css" | relative_url }}">
  </head>
<body>
  <div class="container">
    <h1 class="name">
      {% if site.name %}
        {{ site.name }}
      {% endif %}
    </h1>
    <h3 class="description">
      {% if site.description %}
        {{ site.description }}
      {% endif %}
      Jobs
    </h3>

    <p><br></p>
    <button class="btn btn3"><a class="anchor1" href="{{ site.mg-jobs-1 }}">Jobs Part 1</button>
    <p><br></p>
    <button class="btn btn4"><a class="anchor1" href="{{ site.mg-jobs-2 }}">Jobs Part 2</button>
  </div>
</body>
</html>


