:root {
  --bg-color: #031321;
  --primary-color: #2196f3;
  --secondary-color: #255784;
  font-family: consolas, sans-serif;
}

.name {
    color: #CB4E07;
    display: block;
    text-align: center;
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1rem;
    /*text-shadow: #fff 0px 0px 10px;*/
}
.description {
    color: #CB4E07;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    /*text-shadow: #fff 0px 0px 10px;*/
}

body{
  margin: 0;
  padding: 0;
  background: var(--bg-color);
}

.anchor1{
  text-decoration: none;
  color: #fff;
}
.anchor1:hover{
  color: #3498db;
}
.anchor2{
  text-decoration: none;
  color: #3498db;
}
.anchor2:hover{
  color: #fff;
}
.container{
  text-align: center;
  margin-top: 360px;
}

.btn{
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-family: consolas, sans-serif;
  /*font-family: "montserrat";*/
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  letter-spacing: 5px;
  font-size: 28px;
  overflow: hidden;
  transition: 0.2s;
}
.btn1,.btn2{
  color: #3498db;
}
.btn3,.btn4{
  color: #fff;
}
.btn1:hover,.btn2:hover{
  color: #fff;
}
.btn3:hover,.btn4:hover{
  color: #3498db;
}
.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #3498db;
  z-index: -1;
  transition: 0.8s;
}
.btn1::before,.btn3::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn2::before,.btn4::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.btn3::before,.btn4::before{
  height: 180%;
}
.btn1:hover::before,.btn2:hover::before{
  height: 180%;
  color: var(--secondary-color);
  background: var(--primary-color);
  box-shadow: 0 0 20px var(--primary-color), 0 0 80px var(--primary-color),
    0 0 160px var(--primary-color), 0 0 320px var(--primary-color);
  /*transition-delay: 1s;*/
}
.btn3:hover::before,.btn4:hover::before{
  height: 0%;
}

