---
# Index
title: G2K Memory Games Snake
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ "/assets/snake.css" | relative_url }}">
  </head>
<body>
    <section class="section">
        <h1 class="name">
            {% if site.name %}
                {{ site.name }}
            {% endif %}
        </h1>
        <h3 class="description">
            {% if site.description %}
                {{ site.description }}
            {% endif %}
        </h3>

        <a class="btn0" href={{ site.mg-colours-1 }}>
            <span></span> <span></span> <span></span> <span></span>
            Colours Part 1
        </a>
        <a class="btn1" href={{ site.mg-colours-2 }}>
            <span></span> <span></span> <span></span> <span></span>
            Colours Part 2
        </a>
        <a class="btn2" href={{ site.mg-jobs-1 }}>
            <span></span> <span></span> <span></span> <span></span>
            Jobs Part 1
        </a>
        <a class="btn3" href={{ site.mg-jobs-2 }}>
            <span></span> <span></span> <span></span> <span></span>
            Jobs Part 2
        </a>
        <a class="btn4" href={{ site.mg-months-1 }}>
            <span></span> <span></span> <span></span> <span></span>
            Months Part 1
        </a>
        <a class="btn5" href={{ site.mg-months-2 }}>
            <span></span> <span></span> <span></span> <span></span>
            Months Part 2
        </a>
        <a class="btn6" href={{ site.mg-numbers-1 }}>
            <span></span> <span></span> <span></span> <span></span>
            Numbers Part 1
        </a>
        <a class="btn7" href={{ site.mg-numbers-2 }}>
            <span></span> <span></span> <span></span> <span></span>
            Numbers Part 2
        </a>
        <a class="btn8" href={{ site.mg-times-1 }}>
            <span></span> <span></span> <span></span> <span></span>
            Tell The Time Part 1
        </a>
        <a class="btn9" href={{ site.mg-times-2 }}>
            <span></span> <span></span> <span></span> <span></span>
            Tell The Time Part 2
        </a>

    </section>

</body>
</html>

